extends _layouts/base

include _modules/link/link

block content
    section.container
      .wrap
        .col-12
          article
            h1|The Scream
            .image-wrapper
              img(src='https://upload.wikimedia.org/wikipedia/commons/f/f4/The_Scream.jpg', alt='The Scream')
              table
                tr
                  td
                    strong|Artist
                  td|Edvard Munch
                tr
                  td
                    strong|Year
                  td|1893
                tr
                  td
                    strong|Type
                  td|Oil, tempera, pastel and crayon on cardboard
                tr
                  td
                    strong|Dimensions
                  td|91 cm × 73.5 cm (36 in × 28.9 in)
                tr
                  td
                    strong|Location
                  td|National Gallery, Oslo, Norwa

            p
              strong The Scream
              |  (Norwegian: Skrik) is the popular name given to each of four versions of a composition, created as both paintings and pastels, by the Expressionist artist Edvard Munch between 1893 and 1910. The German title Munch gave these works is
              strong
                em  Der Schrei der Natur
              em (The Scream of Nature).
              | The works show a figure with an agonized expression against a landscape with a tumultuous orange sky. Arthur Lubow has described The Scream as "an icon of modern art, a Mona Lisa for our time."
              sup

            button.btn.js-speak
              |Text to Speech